body {
   padding: 0px;
   margin:  0px;  
   background: url("imagens/layout_PNG_r2_c1_s1.jpg"); 
   font-family: sans-serif;

}

p {
    text-align:justify;
    margin-bottom: 30px;
}



#slideshow a {
	display:block;
	padding:5px;
	background:white;
    color:#000000;
    float: left;
    border-radius: 5px;

}
 
.coluna_1, .coluna_2, .coluna_3 {
    width: 420px;
    height: 300px;
    background: #FFFFFF;
    margin-bottom: 10px;
    float: left;
    border-radius: 10px;
    padding: 10px;
}

.coluna_2 {
    margin-left: 18px;
    margin-right: 18px;
}



.div_fotorodape {
    margin-bottom: 20px;
}


.clear {
    clear: both;
}

.div_container {
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

.div_cabecalho {
    background: url(imagens/bg_topo_s1.jpg) top repeat-x;
    height:160px;
}

.div_logomarca {
	width:200px;
	float:left;
	display:block;
	padding-top:40px;
}

.div_menu {
    width: 600px;
    float: right;
    padding-top: 60px;
    display: inline-block;
    font-size: 20px;
}

.div_menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.div_conteudo {
    padding-top: 15px;
    padding-bottom: 15px;
}

.div_rodape {
    background: white;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
}